{% extends 'core/base.html' %}

{% block title %}{{ item.name }}{% endblock %}

{% block content %}
<div class="grid grid-cols-5 gap-6 bg-gradient-to-r from-neutral-900 to-neutral-950 rounded-xl">
  <div class="col-span-3">
    <img src="{{ item.image.url }}" class="rounded-xl">
  </div>

  <div class="col-span-2 p-12 bg-transparent rounded-r-lg">
    <h1 class="mb-6 text-3xl text-white">{{ item.name }}</h1>
    <p class="text-rose-500 text-2xl"><strong>Price: </strong>{{ item.price }}</p>
    <p class="text-white text-2xl py-3"><strong>Seller: </strong>{{ item.created_by.username }}</p>

    {% if item.description %}
      <p class="text-white text-2xl py-6">
        <strong>Description:</strong><br>
        {{ item.description }}
      </p>
    {% endif %}

    {% if request.user == item.created_by %}
      <div class="mt-6 p-6 bg-gradient-to-r from-white to-black rounded-xl">
        <p class="text-xl">This is your item!</p>

        <a href="{% url 'item:edit' item.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-black text-white rounded-xl uppercase">Edit</a>
        <a href="{% url 'item:delete' item.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-rose-500 text-white rounded-xl uppercase">Delete</a>
      </div>
    {% else %}
      <a href="{% url 'conversation:new' item.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-white text-black rounded-xl hover:bg-neutral-400">Contact seller</a>
    {% endif %}
  </div>
</div>

<div class="mt-6 px-6 py-12 bg-transparent rounded-xl">
  <h2 class="mb-12 text-5xl text-center font-mono uppercase tracking-widest"><span class="text-white">Related</span> <span class="text-rose-500">Items</span></h2>

  <div class="grid grid-cols-5 gap-5">
    {% for item in related_items %}
      <div>
        <a href="{% url 'item:detail' item.id %}">
          <div>
            <img src="{{ item.image.url }}" class="rounded-t-xl">
          </div>

          <div class="p-6 bg-white rounded-xl">
            <h2 class="text-2xl">{{ item.name }}</h2>
            <p class="text-rose-700 text-xl">Price: {{ item.price}}</p>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}