{% extends 'core/base.html' %}

{% block title %}Contact{% endblock title %}

{% block content %}
  <div class="w-1/2 my-6 mx-auto py-12 px-12 bg-gradient-to-r from-rose-100 to-transparent rounded-xl">
    <h1 class="text-black py-12 uppercase font-mono text-3xl">The contact page</h1>
    <p class="text-black py-6 px-6 font-mono text-2xl">Admin email</p>
    <p class="text-rose-400 py-6 px-6 font-mono text-2xl">juan.montilla0610@gmail.com</p>
    <p class="text-black py-6 px-6 font-mono text-2xl">Admin phone number</p>
    <p class="text-rose-400 py-6 px-6 font-mono text-2xl">+58 4122949177</p>
  </div>
{% endblock content %}